# Exclude virtual environment
venv/

# Exclude Python cache files
__pycache__/
*.pyc
*.pyo

# Exclude environment variables file
.env

# Exclude other unwanted files
*.log
*.sqlite
*.db

# Unused Folders
__tests__
data
scripts

# Unused Files
.gitignore
graph_output.png
README.md