# Exclude virtual environment
venv/

# Exclude Python cache files
__pycache__/
*.pyc
*.pyo

# Exclude environment variables file
.env

# Exclude other unwanted files
*.log
*.sqlite
*.db

.gitignore
graph_output.png
README.md